body{
    transition: 1;
    height: auto;
margin: o;
background-color: rgb(230 230 230);
font-family:'Sego UI' Tahoma, Geneva, Verdana, sans-serif;
}
main{
    background-color:#fff;
    box-shadow: 30px 0px 40px rgb(196 ,196 ,196),-30px 0px 40px-(196 ,196 ,196);
    margin: auto;
    max-width: 900px;
}
/* waouh */
.msk_container{
    width: 100%;
}
h1{
    margin:0;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 400;
}
h2{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
}
.msk_nav{
    background-color: #0096aa79;
    height: 50px;
   margin-top: 20px;
}
.msk_text{
    display: inline-block;
    text-align: center;
}
.more{
    width: 2cm;
    transition: 0.5s;
    display: block;
    color: #333;
    padding: 4px 6px;
    text-decoration: none;
    border: 1px solid rgb(0,0,0);
    border-radius: 50px;
    position: relative;
    left: 90%;
    top: -30px;
}
.more:hover{
    background-color: orange;
    color: #fff;
    border:none ;
}
.nav_a{
    border-width: 3px solid rgb(255,255,255);
    border-left: 3px solid(255,255,255);
    transition: 0.5s;
    padding: 10px;
    margin: 0;
    text-decoration: none;
    color: rgb(255,255,255);
    border: 2px solid;
}
.nav_a:hover{
    background-color: coral;
    z-index: 3333;
    transform: scale(1.2,1.2);
}
.nav_ul{
    padding: 0;
    justify-content: space-around;
    margin: 0;
    list-style: none;
    display: flex;
}
.msk_text{
    align-items: center;
    height: 50px;
}
.msk_cadres{
    padding-top: 20px;
}

.nave{
    height: auto;
    margin: auto;
}
.dav{
    height: 300px;
}
.mol{
    text-align: center;
    position: relative;
}
.des{
    padding: 15px;
}

.msk_card{
align-items: center;
display: flex;
    
    border-top: 1px solid gray;

}

.p{
    letter-spacing: 3px;
    margin: 2px;
}
footer{
    line-height: 1;
    padding:7px;
    text-align: center;
    color:#fff;
    background-color: rgb(0, 180, 180);
}
html{
    overflow-y: auto;
    width: 100%;
}
/* parti de input */
.section{

font-family:'Sego UI' Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 30px 0px 40px rgb(196 ,196 ,196),-30px 0px 40px-(196 ,196 ,196);
    margin: auto;
    max-width: 900px;
    border-radius: 10px;
}

h3{
    border-radius: 4px,4px;
    color: #fff;
    background-color: rgb(255, 46, 19);
    font-size: 30px;
    left: 30px;
}
form{
    padding: 10px;
}
.btn{
padding: 10px;
height: 50px;
border: none;
color: #fff;
font-size: 18px;
background-color: blueviolet;
margin-top: 10px;
display: block;
cursor: pointer;
}
.text{
    border-radius: 4px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px,0px,1px;
    border: none;
    display: block;
}
.frg{
    margin-bottom: 10px;
    display: block;
    width: 30px;
}
.input{
    transition: 0.3s;
    border-radius: 4px;
    font-size: 13px;
    padding: 10px;
    height: 40px;
    box-shadow: 0px,0px,1px;
    box-sizing: border-box;
}
.input:focus{
    direction: none;
    border: none;
    box-shadow: 10px,0px,10px;
}